<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <link href="{% static css%}css/bootstrap.min.css" rel="stylesheet">
     <link href="{% static css%}css/style.css" rel="stylesheet">
     <link rel="icon" type="image/png" href="{% static images%}images/logo.PNG" />
     <meta charset="UTF-8">
    <title>Summer Hack</title>
</head>
<body class="jumbotron-fluid">
{% block content%}
{% endblock %}
</body>
<footer>
  <script src="{% static js %}js/jquery.js"></script>
  <script src="{% static js %}js/getFolder.js"></script>
</footer>
</html>
