{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
 <div class="pt-5 container">
     <h2><hr>Crypto Merkel Tree</h2>
     <div class="pt-5 container">
     {% csrf_token %}
         <div class="container">
         {{ date }} <br>
     </div>
         <div class="container">
                <hr>
             <h2>KEY BY FILES</h2>
     {{ buffer1|linebreaksbr }}
             </div>
         <div class="container">
             <hr>
             <h2>RESULT</h2>
         {{ buffer2|linebreaksbr }}
             </div>
     </div>
 </div>
{% endblock %}