{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- <meta http-equiv="refresh" content="5; #">-->
 <div class="pt-5 container border-top-3 border-info">
     <h2><hr>Crypto Merkel Tree</h2>
     <div class="container border-top-3 border-info">
     {% csrf_token %}
         <div class="container">
         {{ date|linebreaksbr }}
     </div>
         <!--<div class="container">
             <h2><hr>SCAN A FOLDER</h2>
             <form method="post" >
                 <input type="file" value="Choose Folder" name="folder_path" webkitdirectory directory multiple>
                 <input type="submit" value="Scan Folder" class="btn-dark">
             </form>
         </div>-->
         <div class="pt-5 container">
             <h2><hr>KEY BY FILES</h2>
     {{ buffer1|linebreaksbr }}
             </div>
         <div class="container border-top-3 border-info ">
             <hr>
             <h2>RESULT</h2>
         {{ buffer2|linebreaksbr }}
             </div>
     </div>
 </div>
{% endblock %}